body {
    background-color: rgb(176, 176, 238);
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif

}

.container {
    margin: 120px auto;
    max-width: 600px ;
}

a {
    color: rgb(86, 57, 133);
}

h1 {
    text-align: center;
    font-weight: 800;
    font-size: 35px;
    line-height: 1.5;
    color: rgb(86, 57, 133);
}


header {
    margin-bottom: 30px;
}

form {
    padding: 30px;
    background-color: rgb(41, 0, 107);
    box-shadow:0px 20px 60px rgba(73, 108, 131, 0.08);
    border-radius: 10px;
    display: flex;
    margin-bottom: 30px;
}
.instructions {
    padding: 16px;
    border: 1px solid rgba(221, 89, 155, 0.5);
    width: 80%;
    font-size: 16px;
    border-radius: 50px;
    line-height: 20px;
}

.button {
    margin-left: 10px;
    background-color: rgb(197, 176, 231);
    color: white;
    border: none;
    font-size: 16px;
    border-radius: 50px;
    padding: 15px 24px;
}

.poem {
        font-size: 14px;
        background-color: #fff;
        line-height: 24px;
        padding: 20px;
        border-left: 3px solid rgb(138, 123, 173);
        box-shadow: 0px 20px 60px rgba(39, 33, 36, 0.5);
    }

    .poem strong {
        color: rgb(197, 176, 231);
    }

footer {
        text-align: center;
        font-size: 14px;
        margin-top: 30px;
    }

